<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @informacioncomercialcliente.idcliente %>
</p>

<p>
  <strong>Idestudioriesgo:</strong>
  <%= @informacioncomercialcliente.idestudioriesgo %>
</p>

<p>
  <strong>Idnivelriesgo:</strong>
  <%= @informacioncomercialcliente.idnivelriesgo %>
</p>

<p>
  <strong>Resultadoinforcomercial:</strong>
  <%= @informacioncomercialcliente.resultadoinforcomercial %>
</p>

<p>
  <strong>Resultadoinforcontable:</strong>
  <%= @informacioncomercialcliente.resultadoinforcontable %>
</p>

<p>
  <strong>Fechafincompromisoinformacion:</strong>
  <%= @informacioncomercialcliente.fechafincompromisoinformacion %>
</p>

<p>
  <strong>Fechaingresoinfcomercial:</strong>
  <%= @informacioncomercialcliente.fechaingresoinfcomercial %>
</p>

<%= link_to 'Edit', edit_informacioncomercialcliente_path(@informacioncomercialcliente) %> |
<%= link_to 'Back', informacioncomercialclientes_path %>
