<p id="notice"><%= notice %></p>

<p>
  <strong>Nombretipocuenta:</strong>
  <%= @tipocuentum.nombretipocuenta %>
</p>

<p>
  <strong>Fechaingresotipocuenta:</strong>
  <%= @tipocuentum.fechaingresotipocuenta %>
</p>

<%= link_to 'Edit', edit_tipocuentum_path(@tipocuentum) %> |
<%= link_to 'Back', tipocuenta_path %>
