<p id="notice"><%= notice %></p>

<p>
  <strong>Foliocertificadoriesgo:</strong>
  <%= @institucionfinanciera.foliocertificadoriesgo %>
</p>

<p>
  <strong>Nombreinstitucionfinanciera:</strong>
  <%= @institucionfinanciera.nombreinstitucionfinanciera %>
</p>

<p>
  <strong>Direccioninstitucionfinanciera:</strong>
  <%= @institucionfinanciera.direccioninstitucionfinanciera %>
</p>

<p>
  <strong>Emailinstitucionfinanciera:</strong>
  <%= @institucionfinanciera.emailinstitucionfinanciera %>
</p>

<p>
  <strong>Contactoinstitucionfinanciera:</strong>
  <%= @institucionfinanciera.contactoinstitucionfinanciera %>
</p>

<p>
  <strong>Fechaingresoinstfinanciera:</strong>
  <%= @institucionfinanciera.fechaingresoinstfinanciera %>
</p>

<%= link_to 'Edit', edit_institucionfinanciera_path(@institucionfinanciera) %> |
<%= link_to 'Back', institucionfinancieras_path %>
