<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrenivelriesgo:</strong>
  <%= @nivelriesgo.nombrenivelriesgo %>
</p>

<p>
  <strong>Fechaingresonivriesgo:</strong>
  <%= @nivelriesgo.fechaingresonivriesgo %>
</p>

<%= link_to 'Edit', edit_nivelriesgo_path(@nivelriesgo) %> |
<%= link_to 'Back', nivelriesgos_path %>
