<p id="notice"><%= notice %></p>

<h1>Listing Contienens</h1>

<table>
  <thead>
    <tr>
      <th>Foliocertificadoriesgo</th>
      <th>Idavalesencertificados</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contienens.each do |contienen| %>
      <tr>
        <td><%= contienen.foliocertificadoriesgo %></td>
        <td><%= contienen.idavalesencertificados %></td>
        <td><%= link_to 'Show', contienen %></td>
        <td><%= link_to 'Edit', edit_contienen_path(contienen) %></td>
        <td><%= link_to 'Destroy', contienen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contienen', new_contienen_path %>
