<p id="notice"><%= notice %></p>

<p>
  <strong>Foliocertificadoriesgo:</strong>
  <%= @contienen.foliocertificadoriesgo %>
</p>

<p>
  <strong>Idavalesencertificados:</strong>
  <%= @contienen.idavalesencertificados %>
</p>

<%= link_to 'Edit', edit_contienen_path(@contienen) %> |
<%= link_to 'Back', contienens_path %>
