<p id="notice"><%= notice %></p>

<h1>Listing Tipomonedas</h1>

<table>
  <thead>
    <tr>
      <th>Nombretipomoneda</th>
      <th>Fechaingresotipomo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipomonedas.each do |tipomoneda| %>
      <tr>
        <td><%= tipomoneda.nombretipomoneda %></td>
        <td><%= tipomoneda.fechaingresotipomo %></td>
        <td><%= link_to 'Show', tipomoneda %></td>
        <td><%= link_to 'Edit', edit_tipomoneda_path(tipomoneda) %></td>
        <td><%= link_to 'Destroy', tipomoneda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipomoneda', new_tipomoneda_path %>
