<p id="notice"><%= notice %></p>

<p>
  <strong>Idtipocuenta:</strong>
  <%= @cuentacontable.idtipocuenta %>
</p>

<p>
  <strong>Nombrecuentacontable:</strong>
  <%= @cuentacontable.nombrecuentacontable %>
</p>

<p>
  <strong>Fechaingresocuentacontab:</strong>
  <%= @cuentacontable.fechaingresocuentacontab %>
</p>

<%= link_to 'Edit', edit_cuentacontable_path(@cuentacontable) %> |
<%= link_to 'Back', cuentacontables_path %>
