<%= form_for(@empleado) do |f| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% @empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreempleado %><br>
    <%= f.text_area :nombreempleado %>
  </div>
  <div class="field">
    <%= f.label :apellidopaternoempleado %><br>
    <%= f.text_area :apellidopaternoempleado %>
  </div>
  <div class="field">
    <%= f.label :apellidomaternoempleado %><br>
    <%= f.text_area :apellidomaternoempleado %>
  </div>
  <div class="field">
    <%= f.label :emailempleado %><br>
    <%= f.text_area :emailempleado %>
  </div>
  <div class="field">
    <%= f.label :fechaingresoinformcontables %><br>
    <%= f.date_select :fechaingresoinformcontables %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
