<p id="notice"><%= notice %></p>

<p>
  <strong>Idempleado:</strong>
  <%= @analistum.idempleado %>
</p>

<p>
  <strong>Idencargado:</strong>
  <%= @analistum.idencargado %>
</p>

<p>
  <strong>Cantidadmaxanalisis:</strong>
  <%= @analistum.cantidadmaxanalisis %>
</p>

<p>
  <strong>Fechaingresoanalista:</strong>
  <%= @analistum.fechaingresoanalista %>
</p>

<%= link_to 'Edit', edit_analistum_path(@analistum) %> |
<%= link_to 'Back', analista_path %>
