<p id="notice"><%= notice %></p>

<h1>Listing Tamanoempresas</h1>

<table>
  <thead>
    <tr>
      <th>Tamanoempresa</th>
      <th>Fechaingresotamnoemp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tamanoempresas.each do |tamanoempresa| %>
      <tr>
        <td><%= tamanoempresa.tamanoempresa %></td>
        <td><%= tamanoempresa.fechaingresotamnoemp %></td>
        <td><%= link_to 'Show', tamanoempresa %></td>
        <td><%= link_to 'Edit', edit_tamanoempresa_path(tamanoempresa) %></td>
        <td><%= link_to 'Destroy', tamanoempresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tamanoempresa', new_tamanoempresa_path %>
