<p id="notice"><%= notice %></p>

<p>
  <strong>Tamanoempresa:</strong>
  <%= @tamanoempresa.tamanoempresa %>
</p>

<p>
  <strong>Fechaingresotamnoemp:</strong>
  <%= @tamanoempresa.fechaingresotamnoemp %>
</p>

<%= link_to 'Edit', edit_tamanoempresa_path(@tamanoempresa) %> |
<%= link_to 'Back', tamanoempresas_path %>
