<p id="notice"><%= notice %></p>

<h1>Listing Avals</h1>

<table>
  <thead>
    <tr>
      <th>Rutempresa</th>
      <th>Montomaxgarantia</th>
      <th>Fechaingresoaval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avals.each do |aval| %>
      <tr>
        <td><%= aval.rutempresa %></td>
        <td><%= aval.montomaxgarantia %></td>
        <td><%= aval.fechaingresoaval %></td>
        <td><%= link_to 'Show', aval %></td>
        <td><%= link_to 'Edit', edit_aval_path(aval) %></td>
        <td><%= link_to 'Destroy', aval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aval', new_aval_path %>
