<p id="notice"><%= notice %></p>

<p>
  <strong>Rutempresa:</strong>
  <%= @aval.rutempresa %>
</p>

<p>
  <strong>Montomaxgarantia:</strong>
  <%= @aval.montomaxgarantia %>
</p>

<p>
  <strong>Fechaingresoaval:</strong>
  <%= @aval.fechaingresoaval %>
</p>

<%= link_to 'Edit', edit_aval_path(@aval) %> |
<%= link_to 'Back', avals_path %>
