<p id="notice"><%= notice %></p>

<p>
  <strong>Correlativoinformacion:</strong>
  <%= @informacioncontable.correlativoinformacion %>
</p>

<p>
  <strong>Idtipomoneda:</strong>
  <%= @informacioncontable.idtipomoneda %>
</p>

<p>
  <strong>Idcuentacontable:</strong>
  <%= @informacioncontable.idcuentacontable %>
</p>

<p>
  <strong>Montoinforcontable:</strong>
  <%= @informacioncontable.montoinforcontable %>
</p>

<p>
  <strong>Periodoinforcontable:</strong>
  <%= @informacioncontable.periodoinforcontable %>
</p>

<p>
  <strong>Fechaingresoinformcontables:</strong>
  <%= @informacioncontable.fechaingresoinformcontables %>
</p>

<%= link_to 'Edit', edit_informacioncontable_path(@informacioncontable) %> |
<%= link_to 'Back', informacioncontables_path %>
