<p id="notice"><%= notice %></p>

<h1>Listing Certificadoriesgos</h1>

<table>
  <thead>
    <tr>
      <th>Idcliente</th>
      <th>Idtipomoneda</th>
      <th>Idanalista</th>
      <th>Idencargado</th>
      <th>Fechacertificadoriesgo</th>
      <th>Montoaprobado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificadoriesgos.each do |certificadoriesgo| %>
      <tr>
        <td><%= certificadoriesgo.idcliente %></td>
        <td><%= certificadoriesgo.idtipomoneda %></td>
        <td><%= certificadoriesgo.idanalista %></td>
        <td><%= certificadoriesgo.idencargado %></td>
        <td><%= certificadoriesgo.fechacertificadoriesgo %></td>
        <td><%= certificadoriesgo.montoaprobado %></td>
        <td><%= link_to 'Show', certificadoriesgo %></td>
        <td><%= link_to 'Edit', edit_certificadoriesgo_path(certificadoriesgo) %></td>
        <td><%= link_to 'Destroy', certificadoriesgo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificadoriesgo', new_certificadoriesgo_path %>
