<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @certificadoriesgo.idcliente %>
</p>

<p>
  <strong>Idtipomoneda:</strong>
  <%= @certificadoriesgo.idtipomoneda %>
</p>

<p>
  <strong>Idanalista:</strong>
  <%= @certificadoriesgo.idanalista %>
</p>

<p>
  <strong>Idencargado:</strong>
  <%= @certificadoriesgo.idencargado %>
</p>

<p>
  <strong>Fechacertificadoriesgo:</strong>
  <%= @certificadoriesgo.fechacertificadoriesgo %>
</p>

<p>
  <strong>Montoaprobado:</strong>
  <%= @certificadoriesgo.montoaprobado %>
</p>

<%= link_to 'Edit', edit_certificadoriesgo_path(@certificadoriesgo) %> |
<%= link_to 'Back', certificadoriesgos_path %>
