<p id="notice"><%= notice %></p>

<p>
  <strong>Idtipomoneda:</strong>
  <%= @informacioncomercial.idtipomoneda %>
</p>

<p>
  <strong>Correlativoinformacion:</strong>
  <%= @informacioncomercial.correlativoinformacion %>
</p>

<p>
  <strong>Fechainforcomercial:</strong>
  <%= @informacioncomercial.fechainforcomercial %>
</p>

<p>
  <strong>Montoinforcomercial:</strong>
  <%= @informacioncomercial.montoinforcomercial %>
</p>

<p>
  <strong>Fechahoraingreso:</strong>
  <%= @informacioncomercial.fechahoraingreso %>
</p>

<%= link_to 'Edit', edit_informacioncomercial_path(@informacioncomercial) %> |
<%= link_to 'Back', informacioncomercials_path %>
