<p id="notice"><%= notice %></p>

<p>
  <strong>Idestadoproceso:</strong>
  <%= @estudioriesgo.idestadoproceso %>
</p>

<p>
  <strong>Idanalista:</strong>
  <%= @estudioriesgo.idanalista %>
</p>

<p>
  <strong>Fechainicioestudioriesgo:</strong>
  <%= @estudioriesgo.fechainicioestudioriesgo %>
</p>

<p>
  <strong>Fechaterminoestudioriesgo:</strong>
  <%= @estudioriesgo.fechaterminoestudioriesgo %>
</p>

<p>
  <strong>Observacionestudio:</strong>
  <%= @estudioriesgo.observacionestudio %>
</p>

<%= link_to 'Edit', edit_estudioriesgo_path(@estudioriesgo) %> |
<%= link_to 'Back', estudioriesgos_path %>
