<p id="notice"><%= notice %></p>

<p>
  <strong>Idaval:</strong>
  <%= @avalesencertificadoriesgo.idaval %>
</p>

<p>
  <strong>Fechahoraingreso:</strong>
  <%= @avalesencertificadoriesgo.fechahoraingreso %>
</p>

<%= link_to 'Edit', edit_avalesencertificadoriesgo_path(@avalesencertificadoriesgo) %> |
<%= link_to 'Back', avalesencertificadoriesgos_path %>
