<p id="notice"><%= notice %></p>

<h1>Listing Estadoclientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombreestadocliente</th>
      <th>Fechaingresoestadoclie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estadoclientes.each do |estadocliente| %>
      <tr>
        <td><%= estadocliente.nombreestadocliente %></td>
        <td><%= estadocliente.fechaingresoestadoclie %></td>
        <td><%= link_to 'Show', estadocliente %></td>
        <td><%= link_to 'Edit', edit_estadocliente_path(estadocliente) %></td>
        <td><%= link_to 'Destroy', estadocliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estadocliente', new_estadocliente_path %>
